.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 16px;
  width: 100%;
  padding-inline: 16px;
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 24px;
    padding-inline: 56px;
  }
}