.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  background-color: var(--color-neutrals-lightest);
  box-shadow: 0 4px 16px 0 rgba(91, 123, 193, 0.29);
  border-radius: 16px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.latestImage {
  height: 198px;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.title {
  color: var(--color-neutrals-darkest);
  font-size: var(--font-size-h3);
  margin-top: 8px;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: var(--font-size-body-small);
  color: var(--color-neutrals-darkest);
  line-height: 150%;
}

.dot {
  color: var(--color-secondary-medium);
}

.topContent {
  display: flex;
  gap: 5px;
  font-size: var(--font-size-caption);
  color: var(--color-neutrals-extra-dark);
  font-weight: 100;
  font-size: 12px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: auto;
  padding-top: 16px;
  min-height: 44px;
  box-sizing: border-box;
}

.category {
  display: inline-flex;
  align-items: center;
  background-color: #dbdce0;
  color: var(--color-neutrals-extra-dark);
  padding: 8px 12px;
  border-radius: 42px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}